<.header>
  New Cookbook
  <:subtitle>Create a new cookbook to organize your recipes!</:subtitle>
</.header>

<.cookbook_form changeset={@changeset} action={~p"/cookbooks"} />

<.back navigate={~p"/cookbooks"}>Back to cookbooks</.back>
